@model Page
@using OnlineCMS.Data
@inject ApplicationDbContext _db;

@{
    ViewData["Title"] = "Home Page";
}
@Html.Raw(Model.Content)
<hr style="border: 1px dotted #FEA82F" />
<H2>My Blogs</H2>
<div class="container" id="BlogsItems">
    @{
        List<Blog> blogs = _db.Blogs.ToList();
        blogs.Reverse();
        foreach (var blog in blogs)
        {
            <div class="container mb-2" style="border: 1px dotted #FEA82F"> 
                <h3>@blog.Title</h3>
                <small>@blog.CreatedDate</small>
                <div class="collapse readmore" id="@blog.Id" aria-expanded="false">
                    @Html.Raw(blog.BlogContent)
                </div>
                <div class="mb-1">
                    <a class="btn button btn-primary" asp-controller="Home" asp-action="Blog" asp-route-blogId=@blog.Id>
                        read more
                    </a>
                </div>
            </div>
        }
    }
</div>

@section Scripts
{
    <style>
        #BlogsItems {
            font-size: 1rem;
            line-height: 1.5;
        }
        #BlogsItems .readmore.collapse:not(.show) {
            display: block;
            height: 5rem;
            overflow: hidden;
        }
        #BlogsItems .readmore.collapsing {
            height: 5rem;
        }
    </style>
}
